
html {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

textarea {
    background-color: #111;
    color: white;
    border: 0;
}

textarea:focus {
    border: 0;
    outline: 1px solid darkblue;
}

#rom-size-output,
#compiled-code-output,
#code-source-output {
    color: orange;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
